<div class='icon {{iconClass}}'>
    <i class='fa {{icon}}'></i>
</div>
<div class='log-body'>
    <div class='log-date'>
        {{moment-calendar log.dateCreated}}
    </div>
    <div class='log-heading'>
        {{message}}
    </div>
    <div class='log-detail'>
        {{log.reviewable.title}} blah blah title title
    </div>
</div>
